node_modules
.git
*.log
temp/
docker-compose.yml
logs/
**/__pycache__
__pycache__
*.pyc
*.pyo
*.pyd
dockerfile
Makefile
*.md
*.toml
.env
.env.example
.githooks
.gitignore
.ruff_cache
.vscode
*.sql
Dockerfile.aws