services:
  app:
    container_name: app_container
    build: .
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./:/app/:delegated
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: docker.io/mysql:8
    container_name: mysql_container
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    env_file:
      - .env 

volumes:
  mysql_data:
    driver: local

